@import "../../scss/index.scss";

.form-recepie {
  display: flex;
  flex-direction: column;
  margin: 1.2rem;
  border-radius: 0.4rem;
  @include for-desktop-up {
    margin: auto 5rem;
  }
}
.label-recepie {
  font-weight: 600;
  margin: 0.5rem;
  @include for-desktop-up {
    margin: 0.5rem 10rem;
  }
}
.input-recepie {
  margin: 0.1rem 0.4rem 2rem 0.4rem;
  padding: 0.8rem;
  border: 0.2rem outset $secondary-color;
  border-radius: 0.2rem;
  height: 1.5rem;
}
.input-illustration-recepie {
  margin: 0.1rem 0.4rem 2rem 0.4rem;
  padding-left: 1rem;
  border: 0.2rem outset $secondary-color;
  border-radius: 0.2rem;
  height: 2rem;
}
.select-recepie {
  margin: 0.1rem 0.4rem 2rem 0.4rem;
  padding-left: 1rem;
  border: 0.2rem outset $secondary-color;
  border-radius: 0.2rem;
  height: 1.5rem;
}
.button-recepie {
  margin: 3rem auto 0.5rem;
  border: 0.2rem outset $secondary-color;
  color: $detail-color;
  background-color: $primary-color;
  border-radius: 0.7rem;
  width: 10rem;
  height: 1.6rem;
}
